body {
  margin: 0;
  padding: 0;
}


#mainContent {
  height: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 500px;
  min-height: 100vh;
  background-image: url("media/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

#forgotten-password {
  align-self: flex-end;
  margin-top: 7px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(61, 84, 186);
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

#login-btn {
  align-self: center;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  border: none;
  color: #fff;
  background-color: rgb(61, 84, 186);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

#login-btn:hover {
  background-color: rgb(27, 37, 84);
  box-shadow: none;
}