*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.fullheight {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #282a36;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100vw;
  max-width: 100rem;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem;
}

.choice-wrapper {
  height: 50%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.top-wrapper {
  height: 50%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-wrapper > .question {
  padding: 1rem;
  width: 100%;
  height: 4rem;
  background-color: lightgray;
  color: black;
  border-radius: 3px;

  font-size: 2rem;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  flex-grow: 1;
  height: 1px;

  margin: auto;
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

button {
  cursor: pointer;
}

#nextPageButton {
  width: 100%;
  height: 100%;
  background-color: bisque;
  display: none;
  font-size: 2rem;
  border: none;
}

.choice {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px #000000;

  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media (max-width: 800px) {
  .choice {
    font-size: 1rem;
  }
}

.choice:hover,
button:hover {
  filter: brightness(70%);
}
